<%= notice %>

<%= form_tag '/validate', class: 'span3' do %>
	<h2>Login</h2>
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Senha">
	<button class="btn btn-large" type="submit">Entrar</button>
<% end %>