
<form action="/platform/search" method="post" class="form-search" style="text-align: center;">
	<input type="text" name="search" placeholder="Procurar...">
	<button class="btn btn-medium" type="submit">Procurar</button>
</form>