<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8" />
	<title>GALEL</title>
	 <link rel="stylesheet" type="text/css" href="galel.css" />
 </head>
 <body>
 <div id="body">
 	<div id="title">
 	<hgroup>
 	<h1>GALEL</h1>
 	<h2>GAIA Learned Lessons</h2>
 </hgroup>
 	<br/>
 </div>
<div class="navegar">
<input type="text" name="input" value="Search problem">
<a href="#">Procurar</a>
</div>
<hr>
<div id="problems">
<ul>
<!--<%(1..10).each do|i|%>
  <li>number <%=i%></li>
<%end%>-->
<li>
	<h1><a href="#">Nome do Problema</a></h1>
	<br/>
	Selorta diam eu massisqu dia lordum vitaapibu ac scuitae ec eget telluon et lacininec in vel ipsum auctrv felieulis lacinia ictmmenm velitsce euiso ouat antpsum dolor tcoecttuer acing lenue sed dolquam congue fermt.
	<hr>
</li>
<li>
	<h1><a href="#">Nome do Problema</a></h1>
	<br/>
	Selorta diam eu massisqu dia lordum vitaapibu ac scuitae ec eget telluon et lacininec in vel ipsum auctrv felieulis lacinia ictmmenm velitsce euiso ouat antpsum dolor tcoecttuer acing lenue sed dolquam congue fermt.
	<hr>
</li>
<li>
	<h1><a href="#">Nome do Problema</a></h1>
	<br/>
	Selorta diam eu massisqu dia lordum vitaapibu ac scuitae ec eget telluon et lacininec in vel ipsum auctrv felieulis lacinia ictmmenm velitsce euiso ouat antpsum dolor tcoecttuer acing lenue sed dolquam congue fermt.
	<hr>
</li>
</ul>
</div>
</div>
 </body>
 </html>